<div ng-controller="equipmentController">
    <div class="supplier-materials-form">
        <div class="section-title">
            BOCO Equipment
        </div> 

        <div class="supplier-form-indent">
            <ul>
                <li>
                    <input type="text" class="form-control" placeholder="Item Name">
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="Cost">
                </li>
                    
                <li class="custom-btn padlr-50">
                    <button class="btn btn-gray" type="submit">
                        ADD TO EQUIPMENT
                    </button>
                </li>

            </ul>
        </div>

    </div>

    <div class="data-table-wrapper">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"> 
                    <div class="label-wrapper">
                            <div class="data-label"> Item Name</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                    </div>
                    </th> 
                    <th scope="col" colspan="2">
                        <div class="label-wrapper">
                                <div class="data-label"> Cost</div>
                                <div class="sorting-controls">
                                    <img src="assets/img/arrow-top.jpg">
                                    <img src="assets/img/arrow-bottom.jpg">
                                </div>
                        </div>
                    </th>
                    
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Item Name 1</td>
                    <td>$500.00</td>
                    <td>
                        <span class="delete-item">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Item Name 2</td>
                    <td>$500.00</td>
                    <td>
                        <span class="delete-item">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Item Name 3</td>
                    <td>$500.00</td>
                    <td>
                        <span class="delete-item">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                        <td>Item Name 4</td>
                        <td>$500.00</td>
                        <td>
                            <span class="delete-item">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </td>
                    </tr>
                

            </tbody>
            </table>
        </div>
    </div>
</div>