<div ng-controller="stockController">
    <div class="supplier-materials-form">
        <div class="section-title">
            BOCO Stock
        </div>
        <div class="radio-btn-group">
            <label for="electricals">
            <input type="radio" name="bocoStock" id="electricals">
            Electricals
            </label>
            <label for="mechanicals">
            <input type="radio" name="bocoStock" id="mechanicals">
            Mechanicals
            </label>
        </div>
        <form class="supplier-form-indent" ng-submit="addStockData()">
            <ul>
                <li>
                    <input type="text" class="form-control" placeholder="Search Items" ng-model="item_name">
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="Number of Items" ng-model="number_of_items">
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="Cost per Unit" ng-model="cost">
                </li>
                <li class="custom-btn padlr-50">
                    <button class="btn btn-gray" type="submit">
                    ADD TO STOCK
                    </button>
                </li>
            </ul>
        </form>
    </div>
    <div class="data-table-wrapper">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label"> Selcted Items</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label"> Type</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label"> Number of Items</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col" colspan="2">
                        <div class="label-wrapper">
                            <div class="data-label"> Cost</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item Name 1</td>
                    <td>Electricals</td>
                    <td>45789</td>
                    <td>$500.00</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Item Name 2</td>
                    <td>Electricals</td>
                    <td>65780</td>
                    <td>$709.00</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Item Name 3</td>
                    <td>Electricals</td>
                    <td>84647</td>
                    <td>$234.00</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td> Item Name 4</td>
                    <td>Electricals</td>
                    <td>84524</td>
                    <td>$347.00</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>