<div class="login-container" id="screenshotTarget">
        <div class="login-wrapper">
            <h1><strong>BOCO</strong> Work Order Systems</h1>
            <div class="login-form">
                <form ng-submit="authenticateUserLogin()">
                    <ul>
                      <li><input type="text" class="form-control" ng-model="userName" placeholder="Enter User Name" required></li>
                      <li><input type="password" class="form-control" ng-model="userPassword" placeholder="Enter User Password" required>
                        <li>
                            <button type="submit" class="btn btn-default btn-blue2" value="LOGIN">Login</button >
                            <screenshot target="{{::'#screenshotTarget'}}" is-open="isOpen" toolbox-options="screenshotTargetOptions"></screenshot>
                            
                        </li>
                        <li>
                            <div class="d-flex flex-row">   
                                <div class="form-link">
                                    <a href="#">forgot password</a>
                                </div>
                                <div class="form-link link-last">
                                    <a href="#">create new account</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>