<div class="login-container">
        <div class="login-wrapper">
            <h1><strong>BOCO</strong> Work Order Systems</h1>
            <div class="login-form">
                <form ng-submit="searchWorkOrder()">
                    <ul>
                      <li class="d-flex">
                            <input type="text" list="dataList" class="form-control" ng-model="workOrderNumber" placeholder="Enter Work Order" required>
                            <datalist id="dataList">
                                <option ng-repeat="workOrder in workOrderList">{{workOrder.work_order_num}}</option>
                            </datalist>

                            <div class="go-btn">
                                <button class="btn btn-default btn-blue2" type="submit" >
                                    GO
                                </button>    
                            </div>
                      </li>
                          <li>
                              <div class="or">
                                OR
                              </div>
                          </li>
                        <li>
                            <button class="btn btn-default btn-blue2" ng-click="createWorkOrder()">
                               CREATE NEW ORDER
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
