<div>
    <div class="supplier-materials-form">
        <div class="section-title">
            Supplier Materials
        </div>

        <div class="supplier-form-indent">
            <ul>
                <li>
                    <input type="text" class="form-control" placeholder="Search Supplier">
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="Ticket Number">
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="Cost">
                </li>
                <li class="custom-btn padlr-50">
                    <button class="btn btn-gray" type="submit">
                        ADD TO SUPPLIER
                    </button>
                </li>

            </ul>
        </div>
    </div>

    <div class="data-table-wrapper">
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"> 
                <div class="label-wrapper">
                        <div class="data-label"> Selected Suppliers</div>
                        <div class="sorting-controls">
                            <img src="assets/img/arrow-top.jpg">
                            <img src="assets/img/arrow-bottom.jpg">
                        </div>
                </div>
                </th>
                <th scope="col">
                        <div class="label-wrapper">
                                <div class="data-label"> Ticket Number</div>
                                <div class="sorting-controls">
                                    <img src="assets/img/arrow-top.jpg">
                                    <img src="assets/img/arrow-bottom.jpg">
                                </div>
                        </div>
                </th>
                <th scope="col" colspan="2">
                    <div class="label-wrapper">
                            <div class="data-label"> Cost</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                    </div>
                </th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ABC Company</td>
                <td>45789</td>
                <td>$500.00</td>
                <td>
                    <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td>DEF Company</td>
                <td>65780</td>
                <td>$709.00</td>
                <td>
                    <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>

            <tr>
                <td>GHR Company</td>
                <td>84647</td>
                <td>$234.00</td>
                <td>
                    <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td> IST Company</td>
                <td>84524</td>
                <td>$347.00</td>
                <td>
                    <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>