<div ng-controller="supplierController">
    <div class="supplier-materials-form">
        <div class="section-title">
            Supplier Materials
        </div>

        <form ng-submit="addSupplierData()" class="supplier-form-indent">
            <ul>
                <li>
                    <input type="text" class="form-control" placeholder="Search Supplier" list="supplierList" ng-model="company_name" required>
                    <datalist id="supplierList">
                        <option ng-repeat="supplier in supplierList">{{supplier.company_name}}</option>
                    </datalist>
                </li>
                <li>
                    <input type="text" class="form-control" ng-model="ticket_number" placeholder="Ticket Number">
                </li>
                <li>
                    <input type="text" class="form-control" ng-model="cost" placeholder="Cost">
                </li>
                <li class="custom-btn padlr-50">
                    <input class="btn btn-gray" type="submit" value="Add Supplier" />
                </li>

            </ul>
        </form>
    </div>

    <div class="data-table-wrapper">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"> 
                    <div class="label-wrapper">
                            <div class="data-label"> Selected Suppliers</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                    </div>
                    </th>
                    <th scope="col">
                            <div class="label-wrapper">
                                    <div class="data-label"> Ticket Number</div>
                                    <div class="sorting-controls">
                                        <img src="assets/img/arrow-top.jpg">
                                        <img src="assets/img/arrow-bottom.jpg">
                                    </div>
                            </div>
                    </th>
                    <th scope="col" colspan="2">
                        <div class="label-wrapper">
                                <div class="data-label"> Cost</div>
                                <div class="sorting-controls">
                                    <img src="assets/img/arrow-top.jpg">
                                    <img src="assets/img/arrow-bottom.jpg">
                                </div>
                        </div>
                    </th>
                    
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplierData in workOrderSupplierInfo">
                        <td ng-bind="supplierData.supplier.company_name">{{supplier.company_name}}</td>
                        <td ng-bind="supplierData.supplier.ticket_number"></td>
                        <td ng-bind="supplierData.supplier.cost"></td>
                        <td>
                            <input type="button" ng-click="removeSupplier(supplierData.supplier.id)" value="Delete" />
                            <span class="delete-item" ng-click="removeSupplier(supplierData.supplier.id)"><i class="fas fa-trash-alt"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>