<div>
    <div class="supplier-materials-form">
        <div class="section-title">
            Time Entry
        </div>
        <div class="supplier-form-indent">
            <ul>
                <li class="date-container">
                    <input type="text" class="form-control date-picker">
                </li>
                <li class="field-label">Time in</li>
                <li>
                    <select class="form-control">
                        <option value="Hrs.">Hrs.</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                    </select>
                </li>
                <li>
                    <select class="form-control">
                        <option value="Mts">Mts</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select>
                </li>
                <li class="field-label">
                    Time Out
                </li>
                <li>
                    <select class="form-control">
                        <option value="Hrs.">Hrs.</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                    </select>
                </li>
                <li>
                    <select class="form-control">
                        <option value="Mts">Mts</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select>
                </li>
                <li>
                    <input type="text" class="form-control date-picker" placeholder="Work Type">
                </li>
                <li class="custom-btn padlr-50">
                    <button class="btn btn-gray" type="submit">
                    ADD
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="data-table-wrapper">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label">Employee Name</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label">Date</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label">Time in</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label">Time out</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="label-wrapper">
                            <div class="data-label">Total Time</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                    <th scope="col" colspan="2">
                        <div class="label-wrapper">
                            <div class="data-label"> Work Type</div>
                            <div class="sorting-controls">
                                <img src="assets/img/arrow-top.jpg">
                                <img src="assets/img/arrow-bottom.jpg">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jim Moore</td>
                    <td> 04/01/2018</td>
                    <td>09:00 AM</td>
                    <td>5:00 PM</td>
                    <td>9:00</td>
                    <td>Supplier Entry</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Jim Moore</td>
                    <td> 04/01/2018</td>
                    <td>09:00 AM</td>
                    <td>5:00 PM</td>
                    <td>9:00</td>
                    <td>Supplier Entry</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Jim Moore</td>
                    <td> 04/01/2018</td>
                    <td>09:00 AM</td>
                    <td>5:00 PM</td>
                    <td>9:00</td>
                    <td>Supplier Entry</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Jim Moore</td>
                    <td> 04/01/2018</td>
                    <td>09:00 AM</td>
                    <td>5:00 PM</td>
                    <td>9:00</td>
                    <td>Supplier Entry</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Jim Moore</td>
                    <td> 04/01/2018</td>
                    <td>09:00 AM</td>
                    <td>5:00 PM</td>
                    <td>9:00</td>
                    <td>Supplier Entry</td>
                    <td>
                        <span class="delete-item">
                        <i class="fas fa-trash-alt"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>