<!doctype html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">

        <title>BOCO Application</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BOCO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/plugins/date-picker/bootstrap-datepicker3.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/responsive.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/addedCss.css">
        <script src="lib/requirejs/require.js" data-main="appScripts/initialiizeAngularApplication.js"></script>
        
    </head>
        <body>

            <div ng-view></div>

        </body>
</html>