<!doctype html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BOCO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/plugins/date-picker/bootstrap-datepicker3.min.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/easyautocomplete/easy-autocomplete.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/responsive.css">
        <link rel="stylesheet" type="text/css" media="screen" href="customCss/sweetalert.css">
        
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="assets/plugins/easyautocomplete/jquery.easy-autocomplete.min.js"></script>

        <base href="/">
        <script src="lib/requirejs/require.js" data-main="appScripts/initialiizeAngularApplication.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="customCss/addedCss.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeCCiziPIOQreKQcyevTWywDNlhoV2u-s"></script>
        <script src="alertScript/alertCode.js"></script>
        <link href="lib/jquery-loading/dist/jquery.loading.css" rel="stylesheet">
    
    </head>
        <body>

            <div ng-view id="mainDiv"></div>

        </body>
</html> 