<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BOCO - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- google font api -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" media="screen" href="assets/bootstrap/css/bootstrap.min.css">

     <!-- plugin css  -->
     <link rel="stylesheet" type="text/css" media="screen" href="assets/plugins/date-picker/bootstrap-datepicker3.min.css">
     <link rel="stylesheet" type="text/css" href="assets/plugins/easyautocomplete/easy-autocomplete.min.css">
     
    <!-- layout css -->
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/responsive.css">
</head>
<body>
    <div class="login-container">
        <!-- logout link -->
        <div class="logout-link2">
            <a href="#">Logout</a>
        </div>
        <!-- /logout link -->
        <div class="login-wrapper">
            <h1><strong>BOCO</strong> Work Order Systems</h1>
            <div class="login-form">
                <form action="description.html">
                    <ul>
                      <li>
                          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="W.O. NO.">
                      </li>
                      <li>
                        <input type="text" class="form-control autoComplete" id="exampleInputPassword1" placeholder="Customer's PO#">
                      </li>
                      <li>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Work Order by">
                      </li>
                      <li>
                        <input type="text" class="form-control date-picker" id="exampleInputPassword1" placeholder="Date of Order">
                      </li>
                      <li>
                        <input type="text" class="form-control date-picker" id="exampleInputPassword1" placeholder="Date Work Started">
                      </li>
                        <li>
                            <button class="btn btn-default btn-blue2">
                               Submit
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

<!-- font awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="assets/plugins/date-picker/bootstrap-datepicker.min.js"></script>
<script src="assets/plugins/easyautocomplete/jquery.easy-autocomplete.min.js"></script>
<!-- layout js -->
<script src="assets/js/script.js"></script>
</body>
</html>