* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #2694ca;
}


/* login page */
.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    text-align: center;
    color: #fff;
}

.login-wrapper h1 {
    margin: 0;
    padding: 0 0 25px 0;
    font-size: 30px;
}

.login-wrapper h1 strong {
    font-weight: 700;
}

.login-form {
    max-width: 380px;
    margin: 0 auto;
}

.login-form ul {
    margin: 0;
    padding: 0;
}

.login-form li {
    list-style: none;
    margin: 0;
    padding: 7px 0;
}

.form-link {
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.form-link a {
    color: #fff;
}

.btn-blue2 {
    width: 100%;
    border: 1px solid #1c6297;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    height: 46px;
    background: #2fedf6; /* Old browsers */
    background: -moz-linear-gradient(top, #2fedf6 0%, #2694ca 11%, #2694ca 42%, #2694ca 56%, #2694ca 73%, #2694ca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2fedf6 0%,#2694ca 11%,#2694ca 42%,#2694ca 56%,#2694ca 73%,#2694ca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2fedf6 0%,#2694ca 11%,#2694ca 42%,#2694ca 56%,#2694ca 73%,#2694ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fedf6', endColorstr='#2694ca',GradientType=0 ); /* IE6-9 */
}

.login-form .form-control {
    background: #1c6297;
    color: #fff;
    font-size: 12px;
    height: 46px;
    text-align: center;
    border: 0;
    border-radius: 2px;
}

.login-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.login-form .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.login-form .form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
 
.login-form .link-last {
    flex: 1;
    text-align: right;
}

.login-form .or {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    margin: 6px auto;
}

.login-form .go-btn {
    margin-left: 12px;
}

.inner-pages {
    background: #fff;
}

/* inner header */
.inner-header {
    background: #199ed8;
    padding: 20px 0;
}

.inner-header .logo {
    font-size: 19px;
    color: #fff;
    font-weight: 300;
}

.inner-header .logo span {
    font-weight: 600;
}

.inner-header .menu-container {
    font-size: 12px;
    color: #fff;
    position: relative;
    width: 32px;
    cursor: pointer;
    float: right;
}

.inner-header .menu-container:before {
    content: "MENU";
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: -54px;
}

.inner-header .menu-container span {
    height: 4px;
    background: #fff;
    border-radius:3px;
    display: block;
    margin: 3px 0;
}


.gray-container {
    background: #f2f2f2;
    padding: 20px 0 0 0;
}

.gray-container .work-order-form .row {
    display: flex;
    align-items: center;
}
 
.gray-container .nav-wrapper {
    padding: 24px 0 0 0;
}

.gray-container .nav-wrapper li {
    font-size: 13px;
    color: #666;
    background: #ccc;
    border-radius: 0;
}

.gray-container .nav-wrapper .nav-pills .nav-link {
    border-radius: 0;
    color: #666;
}

.gray-container .nav-wrapper .nav-pills .nav-link.active,
.gray-container .nav-wrapper .nav-pills .show>.nav-link {
    color: #fff;
    background: #4198c7;
}

.gray-container .nav-wrapper .nav-pills .nav-link:hover,
.gray-container .nav-wrapper .nav-pills .show > .nav-link {
    color: #fff;
    background: #0099cc;
}



.gray-container .nav-link {
    padding: 7px 12px;
}

.gray-container .nav-wrapper li a {
    border-left: 1px solid #fff;
}
 

/* inner footer */
.inner-footer {
    background: #999;
    padding: 30px 0;
    border-top: 1px solid #666;
}

.inner-footer p {
    margin: 0;
    pading: 0;
}

.inner-footer .footer-info {
    padding-bottom: 30px;
}

.inner-footer .footer-logo {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

.inner-footer .footer-des {
    font-size: 13px;
    color: #333;
}

.inner-footer .footer-indent {
    border-top: 1px solid #666;
    padding: 18px 0 0;
}

.inner-footer .align-right {
    text-align: right;
}

.inner-footer .btn-gray {
    background: #666;
    border-radius: 0;
    padding: 4px 32px;
    color: #999;
    font-size: 10px;
    border: 1px solid transparent;
}

.inner-footer .btn-gray:hover {
    background: #ccc;
    border-color: #797979;
}


.inner-footer .copyright {
    font-size: 12px;
    color: #333;
}


/* content section */
.content-wrapper {
    padding: 40px 0 60px;
}


.project-description {
    width: 44%;
}

.project-description .title-col {
    font-size: 20px;
    color: #666;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.project-des-form ul {
    margin: 0;
    padding: 0;
}

.project-des-form li {
    list-style: none;
    margin: 0;
    padding: 6px 0;

}

.project-des-form .form-control {
    background: #f2f2f2;
    border-radius: 0;
    color: #333;
    font-size: 13px;
}

.textarea-minheight1 {
    height: 146px;
    resize: none;
}

.textarea-minheight2 {
    height: 84px;
    resize: none;
}

.custom-btn .btn {
    display: block;
    width: 100%;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 16px 0;
}

.custom-btn .btn:hover {
    background: #4198c7;
}

.custom-btn .btn-lightgray {
    background: #bcbcbc;
}

.custom-btn .btn-gray {
    background: #999;
}

.custom-btn.padlr-50 .btn-gray {
    padding-left: 50px;
    padding-right: 50px;
}

.select-daterange label {
    font-size: 13px;
    color: #333;
    font-weight: 700;
    margin: 0;
    padding: 0 0 2px 0;
    position: relative;
    display: block;
    line-height: 120%;
}

.select-daterange .form-control {
    border-radius: 0;
    height: 25px;
    font-size: 12px;
    position: relative;
    padding-right: 28px;
}
.select-daterange label:after {
    width: 21px;
    height: 18px;
    position: absolute;
    display: block;
    top: 20px;
    right: 4px;
    content: "";
    z-index: 250;
    background: url(../img/calendar-icon.png) 0 0 no-repeat;
}

.work-info {
    font-size: 17px;
    color: #666;
}

.work-info .work-no {
    font-size: 24px;
}

.login-link {
    font-size: 13px;
    color: #fff;
    text-align: right;
}

.login-link a {
    color: #fff;
    text-decoration: none;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}

/* search customer */
.searchCustomer-form {
    display: flex;
}

.searchCustomer-indent {
    flex: 1;
}

.searchCustomer-indent .max-width450 {
    max-width: 450px;
    display: flex;
}

.searchCustomer-indent .form-control {
    border: 1px solid #cbcbcb;
    height: 54px;
    border-radius: 0;
}

.searchCustomer-indent .btn-gray {
    flex: 1;
    margin-left: 8px;
}

.company-info {
    padding: 25px 0 0 0;
}

.company-info .company-title {
    border-bottom: 1px solid #cbcbcb;
    padding: 0 0 12px 0;
    display: flex;
    align-items: center;
}

.company-info .company-title span {
    font-size: 18px;
    color: #666;
    font-weight: 600;
    flex: 1;
}

.edit-link {
    font-size: 14px;
    color: #3199d6;
    cursor: pointer;
    text-decoration: underline;
}

.edit-link:hover {
    color: #000;
    text-decoration: none;
}

.address-container {
    padding: 25px 0 0 0;
    display: flex;
}

.minWidth-54 {
    /* min-width: 54px; */
    justify-content: flex-end;
    text-align: right;
}

.address-col {
    padding-right: 25px;
}

.address-col ul {
    margin: 0;
    padding: 0;
}

.address-col {
    flex: 1;
}

.address-col h3 {
    font-size: 16px;
    color: #666;
}

.address-col li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-col li.padt-25 {
    padding-top: 25px;
}

.address-col li.padt-25 button {
    margin: 0 0 0 28px;
}



.address-col .col-content {
    display: flex;
    flex: 1;
    align-items: center;
}

.address-col .col-content .col-icon {
    min-width: 30px;
    color: #cbcbcb;
    font-size: 16px;
}

.address-col .col-content .colContent-indent input {
    border-radius: 1px;
    font-size: 13px;
}

.address-col .col-content .colContent-indent {
    flex: 1;
}

.address-col .edit-link {
    padding-left: 20px;
}

.map-container {
    width: auto;
    min-width: 40%;
    height: 278px;
}

.section-title {
    border-bottom: 1px solid #cbcbcb;
    padding: 0 0 12px 0;
    font-size: 18px;
    color: #666;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.supplier-form-indent ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.supplier-form-indent li {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 6px;
    flex: 1;
    font-size: 12px;
    color: #666;
    text-align: right;
}

.supplier-form-indent li.field-label {
    max-width: 70px;
    text-align: right;
}

.supplier-form-indent li:first-child {
    padding-left: 0;
}

.supplier-form-indent .form-control {
    border-radius: 2px;
    height: 52px;
    font-size: 13px;
    border: 1px solid #ccc;
}
.supplier-form-indent  select.form-control:not([size]):not([multiple]) {
    height: 52px;
}

.data-table-wrapper {
    padding: 45px 0 0 0;
}

.data-table-wrapper table {
    border: 1px solid #ccc;
    border-left: 0;
}

.data-table-wrapper .table .thead-dark th {
    background: #21a5d1;
    border-color: #ccc;
    border-left: 1px solid #ccc;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
}

.data-table-wrapper .table td:last-child {
    border-left: 0;
    text-align: right;
}

.data-table-wrapper .table td {
    border-left: 1px solid #ccc;
    font-size: 13px;
    color: #006699;
    vertical-align: middle;
    padding: 9px 12px;
}

.data-table-wrapper .table tbody tr:nth-child(even) {
    background: #f0f8fa;
}

.delete-item {
    color: #999;
    font-size: 15px;
    cursor: pointer;
}

.label-wrapper {
    display: flex;
    align-items: center;
}

.label-wrapper .data-label {
    flex: 1;
    text-align: left;
}

.label-wrapper .sorting-controls {
    width: 16px;
    margin-left: 10px;
}

.label-wrapper .sorting-controls img {
    display: block;
    padding: 1px 0;
    cursor: pointer;
}

.date-container {
    position: relative;
}

.date-container:after {
    content: "";
    display: block;
    background: url(../img/calendar-icon.png) 0 0 no-repeat;
    width: 21px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
}

.date-container .form-control {
    padding-right: 35px;
}

.radio-btn-group {
    display: flex;
    align-items: center;
    padding: 0 0 6px 0;
}

.radio-btn-group label {
    font-size: 13px;
    color: #006699;
    padding-right: 20px;
    line-height: 100%;
}

.complete-work-order .section-sub-title {
    font-size: 16px;
    font-weight: 600;
    color: #006699;
    padding: 0 0 12px 0;
}

.complete-work-order .textarea-container textarea{
    height: 200px;
    font-size: 13px;
    text-align: left;
}

.additional-comments {
    padding: 25px 0 0 0;
    font-size: 13px;
    color: #666;
}

.comments-form-container {
    margin-top: 12px 0 0 0;
}

.comments-form-container .form-control {
    font-size: 13px;
    color: #666;
}

.comments-form-container textarea {
    height: 152px;
}


.flex {
    display: flex;
}

.comments-form-container button:not(:first-child) {
    margin-left: 15px;
}

.comments-form-container .custom-btn {
    padding-top: 20px;
}

.customer-signature .card-header {
    background: #3b84c3;
    color: #fff;
}

.customer-signature .card {
    border-color: #3b84c3;
}

.min-height100 {
    min-height: 100px;
}

.datepicker td, .datepicker th {
    font-size: 14px;
    padding: 6px;
}

.logout-link2 {
    font-size: 13px;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    text-align: right;
    max-width: 380px;
    margin: 0 auto;
}

.logout-link2 a {
    color: #fff;
    text-decoration: none;
}